# Build
/build/
/out/
/dist/
/CMakeFiles/
/CMakeCache.txt
*.cmake
compile_commands.json

# IDE/OS
.vscode/
.idea/
.vs/
.DS_Store
Thumbs.db

# VS/MSBuild
*.sln
*.vcxproj*
*.user

# Binaries
*.exe
*.dll
*.so
*.dylib

# Objects
*.o
*.obj

# Libraries
*.a
*.lib

# Debug info
*.pdb
*.ilk

# Artifacts
*.png
*.jpg
*.jpeg
*.bmp
*.tiff
*.log
